.DS_Store
*.class
*.log
*~

# sbt specific
exercises/dist/*
exercises/project/target/
exercises/target/*
exercises/project/target/**
exercises/project/project/target/**
exercises/lib_managed/
exercises/src_managed/
exercises/project/boot/
exercises/project/plugins/project/
exercises/project/local-plugins.sbt
exercises/null/
.history
.bsp

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.settings
classes/

# idea
.idea
.idea_modules
/.worksheet/

# Dotty-IDE
.dotty-ide-artifact
.dotty-ide.json

*.cache

# Visual Studio Code
.vscode